:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
}
.border__left{
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    background-color: #283046;
    margin: 0;
}
.menu__item{
    margin: 10px;
}
.menu__items, .submenu__items{
    list-style: none;
    font-size: 17px;
    margin:10px;
}

.submenu__items{
    border: 1px solid #591C90;
    padding:20px;
    border-radius: 10px;
}

.menu__link, .submenu__link{
    color: #fff;
    text-decoration: none;
    nargin-top: 10px;
}
.logo__img{
    width: 120px;
}


.border__right{
    width: 100%;
    background-color: #18223D;

}
